<a href="https://colab.research.google.com/github/Divyanshpanchal960/python/blob/main/if_else%2Cwhile_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

data={1:'kapil',2:'divya',3:'divya',4:'sourabh',5:'divya'}
print(data)
data2={}
print(data2)
for key,value in data.items():
  data2[value]=key
print(data2)

{1: 'kapil', 2: 'divya', 3: 'divya', 4: 'sourabh', 5: 'divya'}
{}
{'kapil': 1, 'divya': 5, 'sourabh': 4}

In [ ]:
data={1:'kapil',2:'divya',3:'divyansh',4:'sourabh',5:'divya'}
print(data)
data3={}
print(data3)
for key,values in data.items():
  if values not in data3.values():
    data3[key]=values
print(data3)

{1: 'kapil', 2: 'divya', 3: 'divyansh', 4: 'sourabh', 5: 'divya'}
{}
{1: 'kapil', 2: 'divya', 3: 'divyansh', 4: 'sourabh'}

In [ ]:
data={1:'naman',2:'piyush',3:'tilak',4:'cheril',5:'tilak',6:'piyush',7:'naman',8:'aman',9:'rohan',10:'prachi',11:'rohan'}
print(data)
data2={}
print(data2)
for key,value in data.items():
  if value not in data2.values():
    data2[key]=value




print(data2)

{1: 'naman', 2: 'piyush', 3: 'tilak', 4: 'cheril', 5: 'tilak', 6: 'piyush', 7: 'naman', 8: 'aman', 9: 'rohan', 10: 'prachi', 11: 'rohan'}
{}
{1: 'naman', 2: 'piyush', 3: 'tilak', 4: 'cheril', 8: 'aman', 9: 'rohan', 10: 'prachi'}

In [ ]:
for i in range(0,10):
  for j in range(10-i):
    print('*',end=' ')
  print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(0,10):
  for j in range(i):
    print(' ',end=' ')
  for j in range(10-i):
    print('*',end=' ')
  print()

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
shuru=int(input("enter the number"))
khtm=int(input("enter the number"))
for i in range(shuru,khtm+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i, end=' ')

enter the number1
enter the number100
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
data='check'
s=''
for i in data:
  s=i+s
#print(s)
if s==data:
  print("palindrom")
else:
  print("not palindrom")

not palindrom

In [ ]:
a=5
b=2
if a<b:
  min_num=a
else:
  min_num=b
while True:
    if a%min_num==0 and b%min_num==0:
      break
    min_num=min_num-1
print(min_num)

1

In [ ]:
a=5
b=2
if a>b:
  max_num=a
else:
  max_num=b
while True:
    if a%max_num==0 and b%max_num==0:
      break
      max_num=max_num+1
print(max_num)

KeyboardInterrupt:

In [ ]:
temp=1
for i in range(1,7):
  for j in range(1,i+1):
    print(temp,end='  ')
    temp=temp+2
  print( )

1
3  5
7  9  11
13  15  17  19
21  23  25  27  29
31  33  35  37  39  41

In [ ]:
num=10
for i in range(0,num+1):
  for j in range(0,i):
    print('*',end=' ')
    #i=i+1
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
num=10
for i in range(1,num+1):
  for j in range(i):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(1,10):
  for j in range(10-i):
    print('*',end=' ')
  print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,10):
  for j in range(i,10):
    print(' ',end=' ')
  for j in range(i):
    print('*',end=' ')
  print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *

In [ ]:
for i in range(0,10):
  for j in range(i):
    print(' ',end=' ')
  for j in range(10-i):
      print('*',end=' ')
  else:
      print(' ',end=' ')

  print()

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
for i in range(5,0,-1):
  print(i,end=' ')

5 4 3 2 1

In [ ]:
data='set'
s=''
for i in data:
  s=i+s
if s==data:
  print("palindrom")
else:
  print("not palindrom")

not palindrom

In [ ]:
num=int(input("enter the number"))
sum=0
count=0
avg=0
while num>0:
  digit=num%10
  sum=sum+digit
  count=count+1
  num=num//10
print(count)
print(sum)
avg=sum//count
print(avg)

enter the number4564254254254
13
52
4

In [ ]:
start=int(input("enter the number"))
end=int(input("enter the number"))
for i in range(start,end+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
      print(i,end=' ')

enter the number1
enter the number50
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
num=int(input("enter the number"))
fact=1
i=1
while i<=num:
  fact=fact*i
  i=i+1
print(fact)

enter the number5
120

In [ ]:
num=int(input("enter the number"))
a=1
b=0
c=a+b
while c<=num:
  print(c,end=' ')
  a=b
  b=c
  c=a+b

enter the number10
1 1 2 3 5 8

In [ ]:
num=int(input("enter the number"))
sum=0
total=0
while num>0:
  digit=num%10
  sum=sum+digit
  num=num//10
print(sum)
while sum>0:
  digit=sum%10
  total=total+digit
  sum=sum//10
  print(total)

enter the number2342323
19
9
10

In [ ]:
num=int(input("enter a number"))
small_num=9
large_num=0
while num>0:
  digit=num%10
  if digit>large_num:
    large_num=digit
  if digit<small_num:
    small_num=digit
  num=num//10
print("Largest digit ", large_num)
print("Smallest digit ", small_num)

enter a number1234567
Largest digit  7
Smallest digit  1

In [ ]:
num=int(input("enter a number"))
rev=0
orign=num
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
  if rev==orign:
    print("palindrom")
    break
else:
    print("not palindrom")

enter a number121
palindrom

In [ ]:
data=(input("enter the character"))
s=' '
for i in data:
  s=i+s
  if s==data:
    print("palindrom")

else:
    print("not palindrom")

enter the charactermadam
not palindrom

In [ ]:
num=int(input("enter a number"))
count=0
sum=0
avg=0
while num>0:
  digit=num%10
  sum=sum+digit
  count=count+1
  num=num//10
  avg=sum//count
print(count)
print(sum)
print(avg)

enter a number12345
5
15
3

In [ ]:
data={1:'kapil',2:'divya',3:'divya',4:'sourabh',5:'divya'}
print(data)
data2={}
print(data2)
for keys,values in data.items():
  if values not in data2.values():
     data2[values]=keys
print(data2)

{1: 'kapil', 2: 'divya', 3: 'divya', 4: 'sourabh', 5: 'divya'}
{}
{'kapil': 1, 'divya': 5, 'sourabh': 4}

In [ ]:
for i in range(1,10):
  for j in range(i-1):
    print('*',end=' ')
  for j in range(1,i):
    print('*',end=' ')
  print()

* *
* * * *
* * * * * *
* * * * * * * *
* * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *

In [ ]:
for i in range(1,10):
  for j in range(i,10):
    print('*',end=' ')
    for k in range(i,1):
      print('*',end='  ')
  print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
num=12
for i  in range(0,num+1):
  for j in range(i):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *

In [ ]:
num=12
for i  in range(0,num+1):
  for j in range(i,num+1):
    print('*',end=' ')
  print()

* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(0,10):
  for j in range(i,10):
    print(' ',end=' ')
  for k in range(i*2-1):
    if k==0 or i==9 or k==i*2-2:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

                  *
                *   *
              *       *
            *           *
          *               *
        *                   *
      *                       *
    *                           *
  * * * * * * * * * * * * * * * * *

In [ ]:
for i in range(0,10):
  for j in range(i):
    print(' ',end=' ')
  for k in range(i,10):
      print('*',end=' ')
  print()

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
num=int(input("enter the number"))
fact=1
i=1
while i<=num:
  fact=fact*i
  i=i+1
print(fact)

enter the number5
120

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
if b>a and b<c or b==c and b==a:
      print("second largest number")
elif a<b and a<c or a==b and a==c:
      print(" largest number")
else:
  print(c)

enter the number1
enter the number2
enter the number3
second largest number

In [ ]:
def function_name():
  a=int(input("enter the number"))
  b=int(input("enter the number"))
  print(a+b)
function_name()

enter the number12
enter the number13
25

In [ ]:
def function_add(a,b):
  print(a+b)
function_add(5,3)

8

In [ ]:
def function_sub(a,b):
  print(a-b)
function_sub(5,2)

3

In [ ]:
def function_multiply(a,b):
  print(a*b)
function_multiply(11,12)

132

In [ ]:
def fact(num):
  fact=1
  for i in range(1,num+1):
    fact=fact*i
  print(fact)
fact(5)

120

In [ ]:
def function_prime():
  num=int(input("enter the number"))
  for i in range(1,num+1):
    for j in range(2,i):
      if i%j==0:
        break
    else:
        print(i,end=' ')

function_prime()

enter the number100
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
def function_prime(num):
  for i in range(1,num+1):
    for j in range(2,i):
      if i%j==0:
        break
    else:
        print(i,end=' ')
function_prime(50)

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
def function_prime(num):
  for i in range(1,num):
    if num%i==0:
      print("its prime number")
      break
  else:
      print("its not prime number")
function_prime(1)

ZeroDivisionError: integer modulo by zero

In [ ]:
def f1(a,b=0,c=1):
  if b==0 and c==1:
    print(a)
  elif b!=0 and c==0:
    print(a+b)
  else:
    print(a*b*c)


f1(12,6,0)

18

In [ ]:
data=[1,2,3,4,5,6,7,8,9]
print(data)
data.remove(2)
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
data=[1,2,3,1,4,5,2]
for i in range(0,len(data)):
  count = 0
  for j in range(0,len(data)):
    if data[i]==data[j]:
        count=count+1
  if count>1:
    print(data[i])

1
2
1
2

In [ ]:
for i in range(1,6):
  for j  in range(1,6):
    if i==1 or i==j or i==5:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

* * * * *
  *
    *
      *
* * * * *

In [ ]:
num=int(input("enter the number"))
for i in range(0,num+1):
  for j in range(2,i):

In [ ]:
num=int(input("enter the number"))
orign=num
sum=0
while num>0:
  fact=1
  digit=num%10
  sum=sum+digit
  num=num//10
  # while digit>0:
  #   fact=fact*digit
  #   digit-=1
  # sum=sum+fact
if sum==orign:
  print("strong number")
else:
  print("not strong number")

enter the number145
strong number

In [ ]:
def add(a,b):
  return a+b
add(1,2)

3