<a href="https://colab.research.google.com/github/Divyanshpanchal960/python/blob/main/MLDAY_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Column Transformer-----> in this we will create template of our project.
#covid dataset
#df---> x_train, x_test,y_train,y_test
#x_train----> col1, cl2, col3, col4 .....
#categorical.-----> neumerical-----> col.shape
#numerical----> col.shape
#np.concatenete(col.shape,col2.shape....coln.shape)
#when we apply columntransformer-----> shape=without using column transformer shape
#columntransformer('constant',operation_name/approch_name','column_name)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/covid_toy - covid_toy.csv")

In [ ]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
#df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [ ]:
#x=df.drop(columns=['has_covid'])

In [ ]:
#y=df['has_covid']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
#we will apply operation one by one..

In [ ]:
# #adding simple imputer one by one
# si=SimpleImputer(strategy='mean')
# x_train_fever=si.fit_transform(x_train[['fever']])
# x_train_fever.shape

(80, 1)

In [ ]:
# df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [ ]:
# #ordinal--encoding---->cough
# oe=OrdinalEncoder(categories=[['Mild','Strong']])
# x_train_cough=oe.fit_transform(x_train[['cough']])
# x_train_cough.shape

(80, 1)

In [ ]:
#onehotencoding----->Gender,city
# ohe=OneHotEncoder(drop='first',sparse_output=False)
# x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])
# x_train_gender_city.shape

(80, 4)

In [ ]:
#Extracting Age
# x_train_age=x_train.drop(columns=['gender','city','cough','fever'])
# x_train_age.shape

(80, 1)

In [ ]:
# x_train_transformed=np.concatenate((x_train_gender_city,x_train_cough,x_train_age,x_train_fever),axis=1)

In [ ]:
# x_train_transformed.shape

(80, 7)

In [ ]:
#now we will apply columntransformer

In [ ]:
# from sklearn.compose import ColumnTransformer
# Transformer=ColumnTransformer(transformers=[
#      ('tnf1',SimpleImputer(),['fever']),
#     ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
#     ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
#     ],remainder='passthrough')

In [ ]:
# Transformer.fit_transform(x_train).shape

(80, 7)

In [ ]:
oe=OrdinalEncoder(categories=[['Kolkata','Bangalore','Delhi','Mumbai']])
x_train_city=oe.fit_transform(x_train[['city']])
x_train_city.shape

(80, 1)

In [ ]:
ohe=OneHotEncoder(drop='first',sparse_output=False)
x_train_gender_cough=ohe.fit_transform(x_train[['gender','cough']])
x_train_gender_cough.shape

(80, 2)

In [ ]:
x_train_age=x_train.drop(columns=['gender','cough','fever'])
x_train_age.shape

(80, 2)

In [ ]:
x_train_transformed=np.concatenate((x_train_age,x_train_gender_cough,x_train_city),axis=1)

In [ ]:
x_train_transformed.shape

(80, 5)

In [ ]:
from sklearn.compose import ColumnTransformer
Transformer=ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['Kolkata','Bangalore','Delhi','Mumbai']]),['city']),
    ('tnf2',OneHotEncoder(drop='first',sparse_output=False),['gender','cough'])
    ],remainder='passthrough')

In [ ]:
Transformer.fit_transform(x_train).shape

(80, 5)