<a href="https://colab.research.google.com/github/Divyanshpanchal960/python/blob/main/MLday3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv("/content/credit_scoring - credit_scoring.csv")

In [ ]:
df.head(3)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771,6,957000,2.76,12,Auto Loan

In [ ]:
df.columns

Index(['Age', 'Gender', 'Marital Status', 'Education Level',
       'Employment Status', 'Credit Utilization Ratio', 'Payment History',
       'Number of Credit Accounts', 'Loan Amount', 'Interest Rate',
       'Loan Term', 'Type of Loan'],
      dtype='object')

In [ ]:
print(df.isnull().sum())

Age                          0
Gender                       0
Marital Status               0
Education Level              0
Employment Status            0
Credit Utilization Ratio     0
Payment History              0
Number of Credit Accounts    0
Loan Amount                  0
Interest Rate                0
Loan Term                    0
Type of Loan                 0
dtype: int64

In [ ]:
print(df['Gender'].value_counts())

Gender
Male      501
Female    499
Name: count, dtype: int64

In [ ]:
print(df['Marital Status'].value_counts())

Marital Status
Married     350
Divorced    326
Single      324
Name: count, dtype: int64

In [ ]:
df['Education Level'].value_counts()

Education Level
Master         262
High School    250
PhD            245
Bachelor       243
Name: count, dtype: int64

In [ ]:
df['Employment Status'].value_counts()

Employment Status
Self-Employed    347
Employed         328
Unemployed       325
Name: count, dtype: int64

In [ ]:
df['Type of Loan'].value_counts()

Type of Loan
Auto Loan        348
Home Loan        328
Personal Loan    324
Name: count, dtype: int64

In [ ]:
df['Gender']=df['Gender'].map({'Male':1,'Female':2})
df['Marital Status']=df['Marital Status'].map({'Married':1,'Divorced':2,'Single':3})
df['Education Level']=df['Education Level'].map({'Master':1,'High School':2,'PhD':3,'Bachelor':4})
df['Employment Status']=df['Employment Status'].map({'Self-Employed':1,'Employed':2,'Unemployed':3})
df['Type of Loan']=df['Type of Loan'].map({'Auto Loan':1,'Home Loan':2,'Personal Loan':3})

In [ ]:
df.head(3)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,1,1,1,2,0.22,2685,2,4675000,2.65,48,3
1,25,1,1,2,3,0.20,2371,9,3619000,5.19,60,1
2,30,2,3,1,2,0.22,2771,6,957000,2.76,12,1

In [ ]:
x=df.drop(columns=['Type of Loan'])
x.head(2)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term
0,60,1,1,1,2,0.22,2685,2,4675000,2.65,48
1,25,1,1,2,3,0.20,2371,9,3619000,5.19,60

In [ ]:
y=df['Type of Loan']
y.head(3)

0    3
1    1
2    1
Name: Type of Loan, dtype: int64

In [ ]:
np.round(df.describe(),2)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
count,1000.00,1000.0,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00
mean,42.70,1.5,1.97,2.47,1.98,0.51,1452.81,5.58,2471401.00,10.69,37.13,1.98
std,13.27,0.5,0.82,1.12,0.82,0.29,827.93,2.93,1387046.68,5.48,17.44,0.82
min,20.00,1.0,1.00,1.00,1.00,0.00,0.00,1.00,108000.00,1.01,12.00,1.00
25%,31.00,1.0,1.00,1.00,1.00,0.25,763.75,3.00,1298000.00,6.02,24.00,1.00
50%,42.00,1.0,2.00,2.00,2.00,0.53,1428.00,6.00,2437500.00,10.70,36.00,2.00
75%,54.00,2.0,3.00,3.00,3.00,0.75,2142.00,8.00,3653250.00,15.44,48.00,3.00
max,65.00,2.0,3.00,4.00,3.00,1.00,2857.00,10.00,4996000.00,19.99,60.00,3.00

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test , t_train, y_test=train_test_split(x,y,test_size=0.2,random_state=23)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train_sc=sc.fit_transform(x_train)
x_train_new=pd.DataFrame(x_train_sc,columns=x.columns)
np.round(x_train_new.describe(),2)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term
count,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00
mean,-0.00,0.00,0.00,-0.00,-0.00,-0.00,0.00,0.00,0.00,-0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-1.73,-0.99,-1.20,-1.27,-1.19,-1.73,-1.78,-1.59,-1.69,-1.77,-1.45
25%,-0.82,-0.99,-1.20,-1.27,-1.19,-0.92,-0.84,-0.90,-0.84,-0.84,-0.77
50%,-0.06,-0.99,0.03,-0.38,0.04,0.05,-0.07,0.12,-0.06,-0.00,-0.08
75%,0.84,1.02,1.26,0.51,1.27,0.82,0.85,0.80,0.83,0.86,0.61
max,1.68,1.02,1.26,1.41,1.27,1.66,1.71,1.49,1.83,1.72,1.30

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv("/content/Churn_Modelling - Churn_Modelling.csv")

In [ ]:
df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [ ]:
print(df.isnull().sum())

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
print(df['Surname'].value_counts())

Surname
Smith        32
Scott        29
Martin       29
Walker       28
Brown        26
             ..
Hull          1
Sturdee       1
Flannagan     1
Dwyer         1
Corby         1
Name: count, Length: 2932, dtype: int64

In [ ]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [ ]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [ ]:
df['Gender']=df['Gender'].map({'Male':1,"Female":2})
df['Geography']=df['Geography'].map({'France':1,'Germany':2,'Spain':3})

In [ ]:
x=df.drop(columns=['CreditScore'])
x.head(1)

,RowNumber,CustomerId,Surname,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,1,NaN,42,2,0.0,1,1,1,101348.88,1

In [ ]:
y=df['CreditScore']
y

0       619
1       608
2       502
3       699
4       850
       ...
9995    771
9996    516
9997    709
9998    772
9999    792
Name: CreditScore, Length: 10000, dtype: int64

In [ ]:
np.round(df.describe(),2)

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00,10000.00,10000.00,10000.00,0.0,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.0
mean,5000.50,15690940.57,650.53,1.75,NaN,38.92,5.01,76485.89,1.53,0.71,0.52,100090.24,0.2
std,2886.90,71936.19,96.65,0.83,NaN,10.49,2.89,62397.41,0.58,0.46,0.50,57510.49,0.4
min,1.00,15565701.00,350.00,1.00,NaN,18.00,0.00,0.00,1.00,0.00,0.00,11.58,0.0
25%,2500.75,15628528.25,584.00,1.00,NaN,32.00,3.00,0.00,1.00,0.00,0.00,51002.11,0.0
50%,5000.50,15690738.00,652.00,1.00,NaN,37.00,5.00,97198.54,1.00,1.00,1.00,100193.92,0.0
75%,7500.25,15753233.75,718.00,2.00,NaN,44.00,7.00,127644.24,2.00,1.00,1.00,149388.25,0.0
max,10000.00,15815690.00,850.00,3.00,NaN,92.00,10.00,250898.09,4.00,1.00,1.00,199992.48,1.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
ms=MinMaxScaler()
x_train_ms=ms.fit_transform(x_train)
x_train_new=pd.DataFrame(x_train_ms,columns=x_train.columns)
np.round(x_train_new.describe(),2)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term
count,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00
mean,0.51,0.49,0.49,0.47,0.48,0.51,0.51,0.52,0.48,0.51,0.53
std,0.29,0.50,0.41,0.37,0.41,0.30,0.29,0.33,0.28,0.29,0.36
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.27,0.00,0.00,0.00,0.00,0.24,0.27,0.22,0.24,0.27,0.25
50%,0.49,0.00,0.50,0.33,0.50,0.52,0.49,0.56,0.46,0.51,0.50
75%,0.76,1.00,1.00,0.67,1.00,0.75,0.75,0.78,0.72,0.76,0.75
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00