<a href="https://colab.research.google.com/github/Divyanshpanchal960/python/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#natural number 1 to 10
n=1
while(n<=10):
 print(n,end=' ')
 n=n+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#natural number 10 to 1
n=10
while(n>=1):
 print(n,end=' ')
 n=n-1

10 9 8 7 6 5 4 3 2 1

In [ ]:
#AtoZ character print
char='A'
while(65<=ord(char)<=90):
    print(char,end=' ')
    char=chr(ord(char)+1)

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
#print even number 1 to n
n=int(input("enter the number"))
i=1
while(i<=n):
  if i%2==0:
    print(i,end=' ')
  i=i+1

enter the number100
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [4]:
#print odd number and sum of it
n=int(input("enter the number"))
i=1
sum=0
while(i<=n):
  if i%2!=0:
    print(i,end=' ')
  sum=sum+i
  i=i+2
print("sum of odd num:",sum)

enter the number10
1 3 5 7 9 sum of odd num: 25

In [13]:
#print even number and sum of it
n=int(input("enter the number"))
i=2
sum=0
while(i<=n):
  if i%2==0:
    print(i,end=' ')
  sum=sum+i
  i=i+2
print("sum of even num:",sum)

enter the number10
2 4 6 8 10 sum of even num: 30

In [ ]:
#count of digits in given numbers
num=int(input("enter the number"))
count=0
while(num>0):
  count=count+1
  num=num//10
print(count)

enter the number1234567
7

In [ ]:
#sum of digits
num=int(input("enter the number"))
sum=0
while(num>0):
  digit=num%10
  sum=sum+digit
  num=num//10
print("sum of digit:=",sum)

enter the number123456
sum of digit:= 21

In [ ]:
#find first and last number of given number
num=int(input("enter the number"))
firstnum=num%10
lastnum=num
while lastnum>=10:
    lastnum=lastnum//10
print("lastnum is=",lastnum)
print("firstnum is=",firstnum)

enter the number12345
lastnum is= 1
firstnum is= 5

In [ ]:
#find first and last number in given number
num=int(input("enter the number"))
firstnum=num%10
lastnum=num
while lastnum>10:
  lastnum=lastnum//10
print("lastnum is=",lastnum)
print("firstnum is=",firstnum)
sum=firstnum+lastnum
print("sum is=",sum)

enter the number12345
lastnum is= 1
firstnum is= 5
sum is= 6

In [ ]:
#revrse of number
num=1234567
rev=0
while num>0:
  j=num%10
  rev=rev*10+j
  num=num//10
print(rev)

7654321

In [ ]:
#power of an number
n=int(input("enter number"))
power=0
while n>0:
  power=n**2
  n=n//10
print(power)

enter number5
25

In [ ]:
#find the factor of an number and sum of it
num=int(input("enter number"))
i=1
sum=0
while i<num:
  if num%i==0:
    print(i,end=' ')
  i=i+1
sum=sum+i
print("sum of factor=",sum)

enter number6
1 2 3 sum of factor= 6

In [ ]:
#factorial of given number
num=int(input("enter number"))
i=1
fact=1
while i<=num:
  fact=fact*i
  i=i+1
print("factorial is=",fact)

enter number5
factorial is= 120

In [ ]:
#fibonnaci series upto n number
num=int(input("enter number"))
a=0
b=1
c=0
while c<=num:
  print(c,end=' ')
  a=b
  b=c
  c=a+b

enter number5
0 1 1 2 3 5

In [ ]:
#print a  to z
i=97
n=122
while i<=n:
  print(chr(i),end=' ')
  i=i+1

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
#1ns compliment of binary
a=12
b=15
i=(bin(a))
j=(bin(b))
print(a&b)

12

In [ ]:
#1ns compliment of binary number
a=12
b=15
i=(bin(a))
j=(bin(b))
print(a|b)

15

In [ ]:
#print prime numbers
num=int(input("enter the number"))
for i in range(2,num+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i,end=' ')

enter the number100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#check whether number is prime or not
num=int(input("enter the number"))
for i in range(2,num):
  if num%i==1:
    print("prime number")
    break
  else:
    print("not prime number")
    break

enter the number12
not prime number

In [ ]:
num=int(input("enter the number"))
for i in range(2,num):
  if num%i==1:
    print("prime number")
    break
  else:
    print("not prime")
    break

enter the number2

In [ ]:
num=int(input("enter the number"))
count=0
for i in range(2,num):
  if num%i==1:
   count=count+1
  if count==0:
    print("its prime number")
else:
  print("its not prime number")

enter the number5
its not prime number

In [16]:
num=int(input("enter the number"))
temp=num
sum=0
count=len(str(num))
while num>0:
  digit=num%10
  sum=sum+digit**count
  num=num//10
if temp==sum:
  print("armstrong number")
else:
  print("not armstrong number")

enter the number1634
armstrong number

In [ ]:
num=int(input("enter the number"))
temp=num
sum=0
while num>0:
  fact=1
  digit=num%10
  num=num//10
  for i in range(1,digit+1):
    fact=fact*i
  sum=sum+fact
if temp==sum:
    print("strong number")
else:
    print("not strong number")

enter the number145
strong number

In [ ]:
num=int(input("enter the number"))
a=0
b=1
c=0
while c<=num:
  print(c,end=' ')
  a=b
  b=c
  c=a+b

enter the number50
0 1 1 2 3 5 8 13 21 34

In [ ]:
num=int(input("enter the number"))
fact=1
i=1
while i<=num:
  fact=fact*i
  i=i+1
print("factorial of num=",fact)

enter the number5
factorial of num= 120

In [ ]:
num=int(input("enter the number"))
rev=0
while num>0:
  d=num%10
  rev=rev*10+d
  num=num//10
print(rev)

enter the number123456
654321

In [ ]:
num=int(input("enter the number"))
count=0
while num>0:
  count=count+1
  num=num//10
print(count)

enter the number1234567
7

In [ ]:
i=65
j=90
for i in range(65,91):
  print(chr(i),end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
i=97
j=123
for i in range(97,123):
  print(chr(i),end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
n=int(input("enter the number"))
i=1
sum=0
while n>i:
  if n%i==0:
      print(i,end=' ')
  i=i+1
sum=sum+i
print("sum of factor=",sum)
if sum==n:
  print("perfect number")
else:
  print("not perfect number")

enter the number6
1 2 3 sum of factor= 6
perfect number

In [ ]:
num=int(input("enter the  number"))
for i in range(2,num):
  if num%i==1:
    print("prime number")
    break
  else:
    print("not prime")
    break

enter the  number4
not prime

In [ ]:
num=int(input("enter the number"))
for i in range(2,num+1):
  for j in range(2,i):
    if i%j==0:
     break
  else:
     print(i,end=' ')

enter the number100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
num=int(input("enter the number"))
sum=0
total=0
while num>0:
  digit=num%10
  sum=sum+digit
  num=num//10
print(sum)
while sum>0:
  digit=sum%10
  total=total+digit
  sum=sum//10
print("total of sum=",total)

enter the number123456
21
total of sum= 3

In [ ]:
num1=int(input("enter the number"))
num2=int(input("enter the number"))
if num1>num2:
  max1=num1
else:
  max1=num2
  while True:
    if max1%num1==0 and max1%num2==0:
      print(max1)
      break
    max1=max1+1

enter the number2
enter the number4
4

In [ ]:
num1=int(input("enter the number"))
num2=int(input("enter the number"))
if num1<num2:
  min1=num1
else:
  min1=num1
while True:
  if num1%min1==0 and num2%min1==0:
     print(min1)
     break
     min1=min1-1

enter the number2
enter the number4
2

In [ ]:
num=int(input("enter the number"))
factor=0
for i in range(1,num+1):
  if num%i==0:
    factor=factor+1
if factor==2:
  print("prime number")
else:
  print("not prime number")

enter the number2
prime number

In [ ]:
num=int(input("enter the number"))
sum=0
original=num
while num>0:
  fact=1
  digit=num%10
  num=num//10
  for i in range(1,digit+1):
    fact=fact*i
  sum=sum+fact
if sum==original:
    print("strong number")
else:
    print("not strong number")

enter the number145
strong number

In [ ]:
num=int(input("enter the number"))
lnum=0
snum=num+1
while num > 0:
  digit=num%10
  if digit > lnum:
    lnum=digit
  if digit < snum:
    snum=digit
  num=num//10
print("Smallest digit",snum)
print("Largest digit",lnum)

enter the number5934748769868956858945635235349853485385353655685634583853453453853583658658658953853853
Smallest digit 2
Largest digit 9

In [ ]:
num=int(input("enter the number"))
snum=9
lnum=0
while num > 0:
  digit=num%10
  if digit > lnum:
    lnum=digit
  if digit < snum:
    snum=digit
  num=num//10
print("smallest num=",snum)
print("largest num=",lnum)

enter the number678954
smallest num= 4
largest num= 9

In [ ]:
num=int(input("enter the number"))
sum=0
while num>0:
  fact=1
  digit=num%10
  num=num//10
  for i in range(1,digit+1):
    fact=fact*i
sum=sum+fact
print(sum)

In [ ]:
num=int(input("enter the number"))
if num>0:
  print("positive number")
elif num<0:
  print("negative number")
else:
  print("zero")

enter the number0
zero

In [ ]:
num1=int(input("enter the number"))
num2=int(input("enter the number"))
if num1>num2:
  print(num1,"is greater")
else:
  print(num2,"is greater")

enter the number3
enter the number4
4 is greater

In [ ]:
num1=int(input("enter number"))
num2=int(input("enter number"))
num3=int(input("enter number"))
if num1>num2 and num1>num3:
  print("num1 is greater than num2 and num3")
elif num2>num1 and num2>num3:
  print("num2 is greater num1 and num3")
else:
  print("num3 is greater than num1 and num2")

enter number1
enter number4
enter number5
num3 is greater than num1 and num2

In [ ]:
char=input("enter the character")
if  (char=='a' or char=='e' or char=='i' or char=='o' or char=='u'):
  print("vowel")
else:
  print("consonent")

enter the charactera
vowel

In [ ]:
year=int(input("enter the year"))
if year%4==0:
  print("leap year")
else:
  print("not leap year")

enter the year1888
leap year

In [ ]:
num=int(input("enter the number"))
if num%3==0 and num%5==0:
  print("yes number is divisable by both 3 and 5")
else:
  print("no number isnot divisable by 3&5")

enter the number15
yes number is divisable by both 3 and 5

In [ ]:
num=int(input("enter the number"))
if num%2!=0 and num>0:
  print("positive odd number")
elif num%2!=0 and num<0:
  print("negative odd number")
elif num%2==0 and num>0:
  print("positive even number")
elif num%2==0 and num<0:
  print("negative even number")
else:
  print("zero")

enter the number0
zero

In [ ]:
age=int(input("enter the age"))
if age<13:
  print("child")
elif 13<age<=19:
  print("teenager")
elif 20<age<=59:
  print("adult")
elif age>59:
  print("old")
else:
  print("enter valid age")

enter the age60
old

In [ ]:
side1=int(input("enter the side1"))
side2=int(input("enter the side2"))
side3=int(input("enter the side3"))
if side1==side2==side3:
  print("equilateral triangle")
elif side1!=side2!=side3:
  print("scalene triangle")
else:
  print("i1sosceles triangle")

enter the side13
enter the side22
enter the side31
scalene triangle

In [ ]:
num=int(input("enter the number"))
if num==1:
  print("MONDAY")
elif num==2:
  print("TUESDAY")
elif num==3:
  print("WEDNESDAY")
elif num==4:
  print("THRUSDAY")
elif num==5:
  print("FRIDAY")
elif num==6:
  print("SATURDAY")
elif num==7:
  print("SUNDAY")
else:
  print("enter valid number")

enter the number6
SATURDAY

In [ ]:
signal = input("enter the signal color")
if signal == 'red':
  print("stop")
elif signal == 'yellow':
  print("Go slow")
elif signal == 'green':
  print("Go")
else:
  print("enter valid signal color")

enter the signal colorred
stop

In [ ]:
year=int(input("enter the year"))
if year%2==0 or year%4==0:
  print("yes it is even or leap year")
else:
  print("no it is odd or not leap year")

enter the year2025
no it is odd or not leap year

In [ ]:
num=int(input("enter the number"))
for i in range(1,100):
  if num in range(1,100):
    print("number is in range")
    break
  else:
    print("number is not in range")
    break

enter the number55
number is in range

In [ ]:
balance=int(input("enter the balance"))
if 1000<=balance<=500:
  print("sufficient balance")
elif

In [ ]:
temp=int(input("enter the temperature"))
if temp<10:
  print("cold")
elif 10<temp<25:
  print("moderate")
elif temp>25:
  print("hot")
else:
  print("enter valid temperature")

enter the temperature24
moderate

In [ ]:
password=input("enter the password")
if len(password) <= 6:
  print("weak password")
elif 6 < len(password) < 10:
  print("moderate password")
elif len(password) > 10:
  print("strong password")
else:
  print("enter valid password")

enter the passworddivyanshpan12@..regex
strong password

In [ ]:
#data={1:'apple',2:'banana',3:'orange',4:'kiwi',5:'cherry'}
#print(data)
#set=data.items()
#print(data)
#set=(data)
#print(data)
#dict=data.keys()
#print(data)
#dict=data.values()
#print(data)
#dict=(data)
#print(data)
#set=(data)
#print(data)
#set[6]='kiwi'
#print(data)
#dict=data.items()
#print(data)
#dict={6:'kiwi'}
#print(data)
#dict={2:'banana'}
#print(data)
#k=data.keys()
#print(k)
#v=data.values()
#print(v)
dict=data
print(data)

{1: 'apple', 2: 'banana', 3: 'orange', 4: 'kiwi', 5: 'cherry'}

In [ ]:
for i in range(98,0,-1):
  print(i,end=' ')

98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range(1,101):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
data=['cat','dog','apple','bat','rat','regex']
words={}
for i in data:
  length=len(i)
  if length not in words:
    words [length]=[]
  words[length].append(i)
print(words)

{3: ['cat', 'dog', 'bat', 'rat'], 5: ['apple', 'regex']}

In [ ]:
#data={'a':'banana','b':'apple','c':'papaya'}
#del data['a'],data['b']
#print(data)

{'c': 'papaya'}

In [ ]:
#n={1:'sourabh',2:'divyansh',3:'hemant',4:'kapil'}
#del n[1],n[2]
#print(n)

In [ ]:
data=['cat','dog','fish','mice','regex','apple']
words={}
for i in data:
  length=len(i)
  if length not in words:
    words[length]=[]
  words[length].append(i)
print(words)

{3: ['cat', 'dog'], 4: ['fish', 'mice'], 5: ['regex', 'apple']}

In [ ]:
data.remove('cat')
print(data)

ValueError: list.remove(x): x not in list

In [ ]:
data=['cat','dog','fish','mice','regex','apple']

In [ ]:
data={'a':'90','b':'50'}
data['b']=40
print(data)
#update values

{'a': '90', 'b': 40}

In [ ]:
for i in range(n):
  key = input("Enter key: ")
  value = input("Enter value: ")
  data[a] = b
print(data)

enter the numbera

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
data={'a':'apple','b':'banana','c':12,}
print(data)
(data['b'])
data['c']=13
print(data)
data['d']=14
print(data)
data['d']=15
print(data)

{'a': 'apple', 'b': 'banana', 'c': 12}
{'a': 'apple', 'b': 'banana', 'c': 13}
{'a': 'apple', 'b': 'banana', 'c': 13, 'd': 14}
{'a': 'apple', 'b': 'banana', 'c': 13, 'd': 15}

In [ ]:
#data={'a':'apple','b':'banana','c':'orange','d':'kiwi','e':'banana'}
#print(data)
data2={}
print(data2)
for key,value in data.items():
   if value not in data2.values():
      data2[key]=value
print(data2)

{}
{'a': 'apple', 'b': 'banana', 'c': 'orange', 'd': 'kiwi'}

In [ ]:
data={1:'kapil',2:'divya',3:'divyansh',4:'sourabh',5:'divya'}
print(data)
data2={}
print(data2)
for key,value in data.items():
   if value not in data2.values():
    data2[key]=value
print(data2)

{1: 'kapil', 2: 'divya', 3: 'divyansh', 4: 'sourabh', 5: 'divya'}
{}
{1: 'kapil', 2: 'divya', 3: 'divyansh', 4: 'sourabh'}

In [ ]:
data=['a','b','c','d','e']
str=input("enter the string")
count=0
for i in str:
  if i in data:
    count=count+1
print(count)