<a href="https://colab.research.google.com/github/Divyanshpanchal960/python/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
temp=1
for i in range(1,6):
  for j in range(i):
    print(temp,end=' ')
    temp=temp+1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
temp=2
for i in range(1,6):
  for j in range(i):
    print(temp,end=' ')
    temp=temp+2
  print()

2
4 6
8 10 12
14 16 18 20
22 24 26 28 30

In [ ]:
temp=1
for i in range(1,6):
  for j in range(i):
    print(temp,end=' ')
    temp=temp+2
  print()

1
3 5
7 9 11
13 15 17 19
21 23 25 27 29

In [ ]:
a=0
b=1
c=0
for i in range(0,6):
  for j in range(i):
    print(c,end=' ')
    a=b
    b=c
    c=a+b
  print()

0
1 1
2 3 5
8 13 21 34
55 89 144 233 377

In [ ]:
#n=6
for i in range(1,10):
  for j in range(i):
    print('*',end=' ')
    #n=n+1
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
#n=6
for i in range(1,10):
  for j in range(10-i):
    print('*',end=' ')
    #i=i+1
  print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#n=6
for i in range(1,10):
  for j in range(i):
    print(' ',end=' ')
  for j in range(10-i):
   print('*',end=' ')
  #n=n+1 # This line was commented out as it doesn't seem to affect the output pattern
  print()

  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
for i in range(1,10):
  for j in range(10-i):
    print(' ',end=' ')
  for j in range(i):
     print('*',end=' ')
  print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *

In [ ]:
#n=1
for i in range(1,10):
  for j in range(i):
    print('', end='  ')
  for j in range(10-i):
    if j==0 or j==i:
      print('*',end=' ')
    #n=n+1
  print()

  * *
    * *
      * *
        * *
          *
            *
              *
                *
                  *

In [ ]:
num=int(input('Enter a number: '))
firstnum=num%10
lastnum=num
sum=0
while lastnum>=10:
  lastnum=lastnum//10

print("last num is",lastnum)
print("first num is",firstnum)
sum=firstnum+lastnum
print("sum is",sum)

Enter a number: 123456
last num is 1
first num is 6
sum is 7

In [ ]:
n=int(input("enter the number"))
rev=0
#j=n%10
while n>0:
  j=n%10
  rev=rev*10+j
  n=n//10
print(rev)

enter the number1234567
7654321

In [ ]:
num=5
fact=1
for i in range(1,6):
  fact=fact*i
print(fact)

120

In [ ]:
count=0
n=10
for digit in range(1,n+1):
  n//=10
  count=count+1
  if n<0:
    break
print(count)

10

In [ ]:
n=int(input("enter the digit"))
count=0
while (n>0):
    n=n//10
    count=count+1
print(count)

enter the digit12345
5