<a href="https://colab.research.google.com/github/Divyanshpanchal960/python/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data=[65,45,34,12,87,65,24,12,66,32,88,99,5]
for i in range(len(data)):
  for j in range(len(data)-i-1):
    if data[j]>data[j+1]:
      data[j],data[j+1]=data[j+1],data[j]
print(data)

[5, 12, 12, 24, 32, 34, 45, 65, 65, 66, 87, 88, 99]

In [ ]:
data=[45,23,6,74,12,34,65,7,8,0,4,5,7,]
data.sort()
print(data)

[0, 4, 5, 6, 7, 7, 8, 12, 23, 34, 45, 65, 74]

In [ ]:
data=[1,3,4,2,5]
for i in range(len(data)):
  data[i]=data[i]**2
print(data)
data2=[]
data2 = data[:]
print(data2)

[1, 9, 16, 4, 25]
[1, 9, 16, 4, 25]

In [ ]:
data=[15,19,97,2,8,12,13,29]
for i in range(len(data)):
  for j in range(len(data)-i-1):
    if data[i]%data[j]==0:
      data.remove(data[i])
print(data)
data2=[]
data2 = data[:]
print(data2)

[19, 2, 13, 29]
[19, 2, 13, 29]

In [ ]:
data=[7,9,3,37,9,3,82,7,42,2,2]
data2={}
for i in data:
  if i in data2:
    print(data2)

In [ ]:
data=[7,9,3,37,9,3,82,7,42,2,2]
for i in range(len(data)):
  count=0
  for j in range(len(data)-i-1):
    if data[i]%data[j]==0:
      if count>1:
        print(data[i])

In [ ]:
num=int(input("enter a number"))
for i in range(10,0,-1):
  print(num,"*",i,"=",num*i)

enter a number5
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [ ]:
num=int(input("enter a number"))
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

enter a number123456
654321

In [ ]:
num=int(input("enter the number"))
large_num=0
while num>0:
  digit=num%10
  if digit>large_num:
    large_num=digit
  num=num//10
print(large_num)

enter the number12345
5

In [ ]:
num=int(input("enter the number"))
small_num=9
while num>0:
  digit=num%10
  if digit<small_num:
    small_num=digit
  num=num//10
print(small_num)

enter the number476485745683475
3

In [ ]:
num=int(input("enter the number"))
sum=0
orig_num=num
power=1
while num>0:
  digit=num%10
  sum=sum+digit**power
  power=power+1
  num=num//10
  if sum==orig_num:
    print("narcissistic number")
else:
  print("not narcissistic number")

enter the number153
not narcissistic number

In [ ]:
#check two string are angram or not
char1='listen'
char2='tea'
char3='post'
char4='top'
if sorted(char1)==sorted(char2):
  print("angram")
else:
  print("not angram")

not angram

In [ ]:
def table_five(a):
  if a*5<=10:
    print(a*5)
    table_five(a+1)
table_five(1)

5
10

In [ ]:
class mahindra:
  color ="black"
  model= "2025"
  fuel_type="diesel"
  transmission="manual"
  def car(self):
    print("scorpio")
  def car2(self):
    print("thar")
  def start(self):
    print("brooommmmmm")
  def stop(self):
    print("stop broooomm")
  def gear(self):
    print("engage first gear")
scorpio=mahindra()
scorpio.car()
scorpio.start()
print(scorpio.color)
print(scorpio.model)
print(scorpio.fuel_type)
print(scorpio.transmission)
scorpio.color="white"
print(scorpio.color)
thar=mahindra()
print(thar.color)
print(thar.model)
print(thar.transmission)
thar.start()
thar.gear()
thar.car2()

scorpio
brooommmmmm
black
2025
diesel
manual
white
black
2025
manual
brooommmmmm
engage first gear
thar

In [ ]:
def f1(a):
  if a<1:
    return 0
  print(a,end=' ')
  return f1(a-1)
(f1(10))

10 9 8 7 6 5 4 3 2 1

0

In [ ]:
data=[12,34,5,5,67]
def f1(a):
  if len(data)==a:
     return 0
  print (data[a])
  f1(a+1)
f1(0)

12
34
5
5
67

In [ ]:
name="regex"
def display(stop,collection):
  if stop<0:
    return 0
  print(collection[stop])
  display(stop-1,collection)
display(len(name)-1,name)

x
e
g
e
r

In [ ]:
def f1(a):
  if a<=10:
    print(a,end=' ')
    return f1(a+1)

f1(1)

1 2 3 4 5 6 7 8 9 10

In [ ]:
def f1(a):
  if a<1:
     return 0
  print(a,end=' ')
  return f1(a-1)
f1(10)

10 9 8 7 6 5 4 3 2 1

0

In [ ]:
class employee:
  emp_name="Divyansh"
  emp_id="101"
  emp_age="24"
  emp_role="big data enginner"
  emp_mobile_no="7878659802"
  emp_address="banswara"
  def details():
    print("employee details")
details=employee()
print(employee.emp_name)
print(employee.emp_id)
print(employee.emp_age)
print(employee.emp_role)
print(employee.emp_mobile_no)
print(employee.emp_address)

Divyansh
101
24
big data enginner
7878659802
banswara

In [ ]:
num=int(input("enter the number"))
def fact(num):
  if num==0:
    return 1
  else:
    return (num*fact(num-1))
print(fact(num))

enter the number5
120

In [ ]:
num=int(input("enter the number"))
sum=0
a=2
term=''
for i in range(1,num+1):
  term=term+str(i)

enter the number5

In [ ]:
add=lambda x,y: x+y
print(add(2,3))

5

In [ ]:
fact=lambda num:1 if num==0 else num*fact(num-1)
print(fact(5))

120

In [ ]:
even=lambda num: num%2==0
print(even(2))

True

In [ ]:
data=[2,3,4,5,6,7,8,9,10,11,13,12,14]
data2=[]
even_odd=lambda x:True if x%2==0 else False
for i in data:
  if even_odd(i):
     data2.append(i)
print(data2)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
data=[2,3,4,5,6,7,8,9,10,11,12,13,14]
data2=[]
new=tuple((lambda x:x if x%2==0 else ' ')(x)for x in data)
print(new)

(2, ' ', 4, ' ', 6, ' ', 8, ' ', 10, ' ', 12, ' ', 14)

In [ ]:
data=[2,3,4,5,6,7,8,9,10,11,12,13,14]
data2=[]
new=tuple((lambda x:x if x%3==0 else ' ')(x)for x in data)
print(new)

(' ', 3, ' ', ' ', 6, ' ', ' ', 9, ' ', ' ', 12, ' ', ' ')

In [ ]:
data=[5,12,7,18,3,21,2,14]
data2=[]
data2=tuple((lambda x:x if x>=10 else ' ')(x)for x in data)
print(data2)

(' ', 12, ' ', 18, ' ', 21, ' ', 14)

In [ ]:
data=[1,2,8]
data2=[]
def square():
  for i in data:
    data2.append(i**2)
  print(data2)
square()

[1, 4, 64]

In [ ]:
from functools import reduce

data=[1,2,3,4,5,6,7,8,9]
sum=reduce(lambda a,b:a+b,data)
print(sum)

45

In [ ]:
fact=lambda x:1 if x==0 else x*fact(x-1)
print(fact(5))

120

In [ ]:
def fact(num):
  if num==0:
    return 1
  else:
    return num*fact(num-1)
print(fact(5))

120

In [ ]:
num=int(input("enter the number"))
sum=0
count=0
first_num=
last_num=9
while num>0:
  digit=num%10
  sum=sum+digit
  count=count+1
  num=num//10
print(sum)
print(count)

enter the number12345
15
5

In [ ]:
data=[3,56,17,7,18,93,21]
data2=[]
divisable=lambda data:True if data%3==0 else False
for i in data:
  if divisable(i):
    data2.append(i)
print(data2)

[3, 18, 93, 21]

In [ ]:
fact=lambda x:1 if x==0 else x*fact(x-1)
print(fact(5))

120

In [ ]:
sum=lambda num:num (for i in range len(1,11)),num%2==1
print(sum)

SyntaxError: invalid syntax (ipython-input-20-546694746.py, line 1)

In [ ]:
add=lambda  x,y:x+y
print(2+3)

5

In [ ]:
for i in range(0,10):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [ ]:
i=0
while i<=10:
  i=i+1
  print(i)

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
i=0
while i<30:
  i=i+3
  print(f'3 * {i//3} = {i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
num=int(input("enter number"))
for i in range(1,10):
  print(num,'*',i,"=",num*i)

enter number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

self- it is an instance of a class
use in accessing variable'
use in modify instance variable
help in method calling of a class
help in creating instance variable
instance variable is a variable whose value change from object to object.
#to declare instance variable we use self.variable_name
#you can access your instance variable in any method of same class but method should execute first

class c1:
def m1(self,a,b):
self.a=a
self.b=b
return self.a+self.b

obj=c1()
print(obj.m1(90,10))

obj=c1()
print(obj2.m1(1,2))

In [ ]:
class mahindra:
  color='black&white'
  model='2024'
  fuel_type='disel'
  alloyewheels='yes'
  transmission='manual'
  def car(self):
    print("bolero")
  def car2(self):
    print("xuv700")
  def start(self):
    print("broommmmmm")
  def stop(self):
    print("engine off")
  def gear(self):
    print("engage 1st gear")
  def press_accelerator(self):
    print("lets go for a ride")
  def play_music(self):
    print("melody songs")
  def press_brake(self):
    print("at house")

bolero=mahindra()
bolero.car()
bolero.start()
bolero.gear()
bolero.press_accelerator()
bolero.play_music()
bolero.color="white"
print(bolero.color)
print(bolero.model)
print(bolero.fuel_type)
print(bolero.alloyewheels)
print(bolero.transmission)
bolero.press_brake()
bolero.stop()

xuv700=mahindra()
xuv700.car2()
xuv700.start()
xuv700.gear()
xuv700.press_accelerator()
xuv700.play_music()
print(xuv700.color)
print(xuv700.model)
print(xuv700.fuel_type)
print(xuv700.alloyewheels)
print(xuv700.transmission)
xuv700.press_brake()
xuv700.stop()

bolero
broommmmmm
engage 1st gear
lets go for a ride
melody songs
white
2024
disel
yes
manual
at house
silent
xuv700
broommmmmm
engage 1st gear
lets go for a ride
melody songs
black&white
2024
disel
yes
manual
at house
silent

In [ ]:
class mahindra:
  model=2025
  color="black"
  fuel_type="petrol"
  transmission="manuel"
  def start(self):
    print("brrrroooommmmm")
  def gear(self):
    print("tap 1st gear")
  def tap_accelator(self):
    print("let's go for a ride")
  def play_music(self):
    print("melody music")
  def press_break(self):
    print("stop the car")
  def off(self):
    print("engine off")

scorpio=mahindra()
print(scorpio.model)
print(scorpio.color)
print(scorpio.fuel_type)
print(scorpio.transmission)
scorpio.start()
scorpio.tap_accelator()
scorpio.play_music()
scorpio.press_break()
scorpio.off()

2025
black
petrol
manuel
brrrroooommmmm
let's go for a ride
melody music
stop the car
engine off

In [ ]:
data=[0,1,2,3,4,5,6,7,8,9,10]
print(data)
data[4]=90
print(data)
x=data[0]
print(data)
print(data.count(1))
print(data.count(4))
print(data.insert(4,100))
print(data)
print(data.remove(100))
print(data)
print(data.remove(90))
print(data)
data[2]=95
print(data)
data[3]=95
print(data)
print(data.count(95))
print(data.index(95))
print(data.index(95))
print(data)
data.append(4)
print(data)
data.sort()
print(data)
data.append(2)
print(data)
data.append(3)
print(data)
data.sort()
print(data)
data.reverse()
print(data)
print(data.index(95))
print(data.index(2))
print(data.index(3))
print(data.index(4))
data.pop()
print(data)
print(data.remove(95))
print(data)
print(data.remove(95))
print(data)
data.sort()
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 90, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 90, 5, 6, 7, 8, 9, 10]
1
0
None
[0, 1, 2, 3, 100, 90, 5, 6, 7, 8, 9, 10]
None
[0, 1, 2, 3, 90, 5, 6, 7, 8, 9, 10]
None
[0, 1, 2, 3, 5, 6, 7, 8, 9, 10]
[0, 1, 95, 3, 5, 6, 7, 8, 9, 10]
[0, 1, 95, 95, 5, 6, 7, 8, 9, 10]
2
2
2
[0, 1, 95, 95, 5, 6, 7, 8, 9, 10]
[0, 1, 95, 95, 5, 6, 7, 8, 9, 10, 4]
[0, 1, 4, 5, 6, 7, 8, 9, 10, 95, 95]
[0, 1, 4, 5, 6, 7, 8, 9, 10, 95, 95, 2]
[0, 1, 4, 5, 6, 7, 8, 9, 10, 95, 95, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 95, 95]
[95, 95, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
0
10
9
8
[95, 95, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
None
[95, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
None
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
class c1:
  def m1(self,a,b):
    self.a=a
    self.b=b
    return self.a+self.b
  def m2(self,a,b):
    self.a=a
    self.b=b
    return self.a*self.b

obj=c1()
print(obj.m1(90,10))

obj=c1()
print(obj.m2(1,2))

100
2

In [ ]:
class s1:
  data=30
  def add(self,a,b,c):
    self.a=a
    self.b=b
    self.c=c
    s1.new=2000
    return self.a+self.b+self.c+s1.data+s1.new
  def sub(self,a,b,c):
    print(self.a-self.b-self.c-s1.data-s1.new)
  def mul(self,a,b,c):
    print(s1.data*s1.new)
obj=s1()
print(obj.add(1,2,3))
obj.sub(10,20,30)
print(obj.data)
print(obj.new)
obj.mul(1,2,3)
print(obj.data)
print(obj.new)

2036
-2034
30
2000
60000
30
2000

In [ ]:
data=[1,2,3,4,5,6,7,8,9,]
print(data)
print(data.remove(4))
print(data)
data.insert(3,4)
print(data)
data.remove(4)
print(data)
data.insert(3,4)
print(data)
data.insert(0,60)
print(data)
# print(data.count(1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
None
[1, 2, 3, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[60, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
class tree:
  data=40
  def t1(self,a,b):
    self.a=12
    self.b=3
    tree.new=120
    return self.a+self.b
  def t2(self,a,b):
      print(self.a*self.b)
x=tree()
print(x.t1(12,3))
print(x.data)
print(x.new)
print(x.t2(12,3))

15
40
120
36
None

In [ ]:
class div:
  data=123
  def s1(self,a,b):
      self.a=2
      self.b=3
      div.new=1345
      return div.data+div.new
s=div()
print(s.data)
print(s.s1(2,3))
print(s.new)

123
1468
1345

In [ ]:
data='123djfk0456jkdf'
num=list(filter(lambda x:x.isdigit(),data))
print(num)

['1', '2', '3', '0', '4', '5', '6']

In [ ]:
class dhruvv:
  data=20
  def d1(self,a,b,c):
    self.a=a
    self.b=b
    self.c=c
    dhruvv.new=3000
    return self.a+self.b-self.c*dhruvv.data%dhruvv.new
  def d2(self,a,b,c):
    print(self.a+self.b-self.c*dhruvv.data%dhruvv.new)

x=dhruvv()
print(x.data)
print(x.d1(1,2,3))
print(x.new)
print(x.d2(1,2,3))

20
-57
3000
-57
None

In [ ]:
class dare:
  def __init__(self):
    self.count = 0
  def increse_count(self):
    self.count += 1
  def display(self):
    print(self.count)
obj = dare()
obj.display()
obj.increse_count()

0

In [ ]:
class SBI:
    def __init__(self,name,current_balance,branch,account_type,address,phone_no):
      self.name=name
      self.current_balance = current_balance
      self.branch=branch
      self.account_type=account_type
      self.address=address
      self.phone_no=phone_no
    def display(self):
      print(self.name)
      print(self.branch)
      print(self.account_type)
      print(self.address)
      print(self.phone_no)
      print(f"current_balance: {self.current_balance}")
    def deposite(self,amount):
        if amount>0:
          self.current_balance += amount
          print(f"amount deposite successfully{amount}")
        else:
          print("enter valid amount for deposite")
        return self.current_balance
    def withdraw(self,w_amount):
      if w_amount>0 and self.current_balance>=w_amount:
        self.current_balance -= w_amount
        print(f"successfully withdraw:{w_amount}")
      else:
        print("enter valiid withdraw amount")
      return self.current_balance


obj=SBI("mohit",1234,"sbi","saving acccount", "dfkdh fjdhjfh", 82787827)
print(obj.display())
print(obj.deposite(2000))
print(obj.withdraw(500))

mohit
sbi
saving acccount
dfkdh fjdhjfh
82787827
current_balance: 1234
None
amount deposite successfully2000
3234
successfully withdraw:500
2734

In [ ]:
class c1:
  def __init__(self, a, b):
    self.a = a
    self.b = b
    print(self.a + self.b)
    def distroy_data(self):
      del c1.data
obj = c1(1, 2)

3

In [ ]:
class m1:
  data="new data"
  def __init__(self,a,b):
    self.a=a
    self.b=b
    print(self.a+self.b)
  def distroy_data(self):
    del m1.data
    del obj.self

obj=m1(10, 20)
# obj.distroy_data()

30

In [ ]:
class m1:
  data="new data"
  def _init_(self,a,b):
    self.a=a
    self.b=b
    print(self.a+self.b)
  def distroy_data(self):
      del m1


obj=m1()
obj.distroy_data()
print(obj.data)

UnboundLocalError: cannot access local variable 'm1' where it is not associated with a value

In [ ]:
from types import BuiltinFunctionType
class mahindra:
  def __init__(self,car,color):
     self.car = car
     self.color = color

obj=mahindra("scorpio", "black")
print(obj.car)
print(obj.color)
obj.color="blue"
print(obj.color)

scorpio
black
blue

In [ ]:
#inheritance
class parent:
  vehical="BMW"
  #account_balance=5000000
  def doing_job(self):
    print("working in office")
class child(parent):
  vehical="bycycle"
  account_balance=0
  def palying(self):
    print("playing cricket")
  def studying(self):
    print("preparing for examination")

obj=parent()
print(obj.vehical)
obj=child()
print(obj.account_balance)
print(obj.vehical)

BMW
0
bycycle

In [ ]:
class parent:
  vehical="BMW"
  account_balance=5000000000
  property="highway_vali_jameen"
  def doing_business():
    print("working at office")
class child(parent):
  vehical="bycycle"
  #account_balance=10
  def studying(self):
    print("studying")
class child2(parent):
  vehical="bycyle"
  #account_balance=20
  print("studying")

obj=parent()
print(obj.account_balance)
obj=child()
print(obj.account_balance)
obj=child2()
print(obj.account_balance)
print(obj.property)

studying
5000000000
5000000000
5000000000
highway_vali_jameen

In [ ]:
class parent:
  vehical="BMW"
  account_balance=5000000000
  property="highway_vali_jameen"
  def doing_business():
    print("working at office")
class child(parent):
  vehical="bycycle"
  #account_balance=10

  def studying(self):
    print("studying")
class child2(parent):
  vehical="bycyle"
  #account_balance=20
  print("studying1")

studying1

In [ ]:
def is_even(num):
  if num%2==0:
    return True
  else:
    return False
print(is_even(3))
print(is_even(5))
print(is_even(2))

False
False
True

In [ ]:
def greet_user(name):
  print(f"hello,{name}!welcome back!")
greet_user("divyansh")

hello,divyansh!welcome back!

In [ ]:
def calculate_area(radius):
  return 3.14*radius*radius
print(calculate_area(5))

78.5

In [ ]:
data="fefhwicwuwifjmcaKLahdpowuqiyeperkdsjgfdfjmv"
s='a e i o u'
vowel=[]
def count_vowel():
  for i in data:
    for j in s:
      if i==j:
        vowel.append(i)
  print(s)

count_vowel()

a e i o u

In [ ]:
def fibonacci(num):
  a=0
  b=1
  c=0

  while a <= num:
    print(a,end=' ')
    c = a + b
    a = b
    b = c

fibonacci(10)

0 1 1 2 3 5 8

In [ ]:
a=0
b=1
def fibonacci(num):
  global a,b
  print(a,end=' ')
  c=a+b
  a=b
  b=c
  if num==0:
      return
  return fibonacci(num-1)
print(fibonacci(10))

0 1 1 2 3 5 8 13 21 34 55 None

In [ ]:
def sum(num):
  first_num=num%10
  last_num=num
  while last_num>10:
    last_num//=10
  sum=first_num+last_num
  print(sum)

sum(1234567)

8

In [ ]:
data="kdlskergrginfvfggrihii"
data2 = {}
for i in data:
  if i in data2:
    data2[i] += 1
  else:
    data2[i] = 1
print(data2)

{'k': 2, 'd': 1, 'l': 1, 's': 1, 'e': 1, 'r': 3, 'g': 4, 'i': 4, 'n': 1, 'f': 2, 'v': 1, 'h': 1}

In [ ]:
data={1:'a',2:'b',3:'c',4:'d'}
data2={}
for k,v in data.items():
  data2[k]=v
print(data2)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
data={1:'a',2:'b',3:'c',4:'d',5:'d',5:'s'}
data2={}
for k,v in data.items():
  data2[k]=v
print(data2)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 's'}

In [ ]:
data=[1,2,3,4,5,6,7,8,9]
print(data[2])
print(data.index(6))

3
5

In [ ]:
data1=([[1,2]],[[3,4]],[[5,6]])
new=[j for n in data1 for i in n for j in i]
print(new)

[1, 2, 3, 4, 5, 6]

In [ ]:
class bank_account: