<a href="https://colab.research.google.com/github/Divyanshpanchal960/python/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=6
for i in range (n+1):
  for j in range(i):
    print('*',end='')
  #for k in range(i):
      #print('*',end='')
  print()

*
**
***
****
*****
******

In [ ]:
for i in range (1,6):
  if i==1 or i==n:
    print(i*'*')
  else:
    print('*'+(i-2)*' '+'*')

*
**
* *
*  *
*****

In [ ]:
n=10
for i in range(0, n-1):
 for j in range(i):
    if j==0 or j==i-1 or i==1 or i==n:
      print('*',end='')
    else:
      print(' ',end='')
 print()

*
**
* *
*  *
*   *
*    *
*     *
*      *

In [ ]:
n=4
for i in range(1,11):
  print(f"{n}*{i}={n*i}")

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [ ]:
n=int(input("enter the table"))
for i in range(1,11):
  print(f'{n}*{i}={n*i}')

enter the table5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
n=40

for i in range(1,11):
  print(f'{n}*{i}={n*i}')

40*1=40
40*2=80
40*3=120
40*4=160
40*5=200
40*6=240
40*7=280
40*8=320
40*9=360
40*10=400

In [ ]:
#i=1
#j=101
student={"name":"divyansh","age":20,"role":"dataengineer"}
print("Name:",student["name"])
print("Age:",student["age"])
print("Role",student["role"])

Name: divyansh
Age: 20
Role dataengineer

In [ ]:
for n in range(int(input("enter range"))):
  i=int(input("enter number"))
  j=int(input("enter number"))
  print(i+j)

enter range3
enter number4
enter number1
5
enter number3
enter number4
7
enter number4
enter number5
9

In [ ]:
for n in range(3):
  i=int(input("enter number"))
  j=int(input("enter number"))
  print(i+j)

enter number3
enter number4
7
enter number4
enter number5
9
enter number4
enter number3
7

In [ ]:
for n in range(3):
  i=int(input("enter first number"))
  j=int(input("enter second number"))
  print(i+j)

enter first number12
enter second number2
14
enter first number23
enter second number23
46
enter first number22
enter second number33
55

In [ ]:
n=int(input("enter the table"))
for i in range(1,11):
  print(f"{n}*{i}={i*n}")

enter the table5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
for n in range(5):
  print(n)

0
1
2
3
4

In [ ]:
n="divyansh"
n=len(n)
print(n)

8

In [ ]:
n="divyansh"
for i in range(len(n)):
  print(n[i])

d
i
v
y
a
n
s
h

In [ ]:
data ="shekhar ranghav"
print(data[0:15])
print(data[8:15])
print(data[-15:-8])
print(data[-15:-1])
print(data[-15:0])

shekhar ranghav
ranghav
shekhar
shekhar rangha